@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/didot.ttf");
  src: url("../fonts/didot.ttf") format("truetype"); }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/pn-regular.otf");
  src: url("../fonts/pn-regular.otf") format("opentype"); }
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/didot.ttf");
  src: url("../fonts/didot.ttf") format("truetype"); }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/pn-regular.otf");
  src: url("../fonts/pn-regular.otf") format("opentype"); }
body {
  width: 100%;
  background: #FEF7EC; }

h1, h2, h3, h4, h5 {
  font-family: "Didot", Georgia, serif; }

p, ul, input {
  font-family: "Proxima Nova", sans-serif !important; }

a {
  transition: .3s all linear; }
  a:hover {
    transition: .3s all linear; }

.bg-red {
  background-color: #DF563B; }

.bg-blue {
  background-color: #0097b0; }

.bg-yellow {
  background-color: #FBBC39; }

.text-white {
  color: #FEF7EC; }

.text-red {
  color: #DF563B; }

.text-blue {
  color: #0097b0; }

.text-yellow {
  color: #FBBC39; }

.text-spaced {
  letter-spacing: .3em; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.no-gutter {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.absolute {
  position: absolute;
  top: 3em;
  left: 3em; }

.navbar {
  width: 100%; }

.navbar-padding {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%; }

@media (min-width: 768px) {
  .navbar-padding {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%; } }
.navbar-text {
  font-family: "Proxima Nova Bold" ,sans-serif;
  font-size: 20px;
  margin-right: 10px; }

@media (min-width: 768px) {
  .navbar-text {
    font-size: 20px; } }
@media (min-width: 1024px) {
  .navbar-text {
    font-size: 20px; } }
@media (min-width: 1440px) {
  .navbar-text {
    font-size: 20px; } }
@media (min-width: 2560px) {
  .navbar-text {
    font-size: 20px; } }
.ui.button {
  background-color: transparent;
  padding: .5em;
  font-size: 1.5em;
  color: #0097b0;
  -webkit-transition: all .5s linear;
  transition: all .5s linear; }
  .ui.button:hover, .ui.button:focus {
    background-color: transparent;
    color: #DF563B;
    -webkit-transition: color .5s linear;
    transition: color .5s linear; }

.o {
  padding-top: 2em;
  padding-bottom: 2em; }
  .o img {
    height: auto;
    width: 5em; }

#home {
  height: 100%; }
  #home .home-left-side {
    background-image: url("../img/scissors-blue.png");
    background-size: 13em;
    background-repeat: no-repeat;
    background-position: left 5%; }
  #home .home-center-side {
    height: 100%; }
    #home .home-center-side .main-logo {
      height: 400px;
      background-image: url("../img/uiuxcomp.png"), url("../img/ornament.png");
      background-size: 90%, 4.5em;
      background-repeat: no-repeat, no-repeat;
      background-position: 60% 75%, 82% 40%; }
    #home .home-center-side h1 {
      text-align: center;
      font-size: 1.25em; }
    #home .home-center-side .buttons {
      width: 70%;
      margin: 8em auto 3em auto;
      text-align: center;
      border-top: 2px solid #FBBC39; }
  #home .home-right-side {
    background-image: url("../img/pencil-red.png");
    background-size: 13em;
    background-repeat: no-repeat;
    background-position: right 90%; }

@media (min-width: 768px) {
  #home .home-center-side .main-logo {
    height: 430px;
    background-size: 80%, 4.5em;
    background-position: 50% 80%, 76% 47%; } }
@media (min-width: 1024px) {
  #home .home-center-side .main-logo {
    background-size: 60%, 4.5em;
    background-position: 50% 80%, 68% 47%; } }
@media (min-width: 1440px) {
  #home .home-center-side .main-logo {
    height: 480px;
    background-size: 50%, 6em;
    background-position: 50% 80%, 68% 43%; } }
@media (min-width: 2560px) {
  #home .home-center-side .main-logo {
    height: 800px;
    background-size: 50%, 10em;
    background-position: 50% 80%, 65% 45%; } }
@media (min-width: 1024px) {
  #home .home-center-side .buttons {
    width: 50%; } }
#about {
  min-height: 110%; }
  #about .about-left-side {
    min-height: 100%;
    background-image: url("../img/scissors-half-01.png");
    background-size: 4em;
    background-repeat: no-repeat;
    background-position: right 60%; }
  #about .about-right-side {
    padding: 7em 5em; }
    #about .about-right-side .about-logo {
      padding-top: 5%;
      padding-bottom: 2%; }
    #about .about-right-side p {
      text-align: center;
      font-size: 1.15em; }
    #about .about-right-side .prizes h5 {
      text-align: center;
      margin: 0 0 .3em 0; }

@media (min-width: 768px) {
  #about .content {
    margin-top: -300px; }
  #about .about-right-side {
    padding: 100px 10em; } }
@media (min-width: 1440px) {
  #about .about-right-side {
    padding: 8% 20em; } }
#registration-form {
  width: auto;
  height: auto;
  border: 10px solid #DF563B; }
  #registration-form img {
    padding: 1.5em 0 0 0; }
  #registration-form .labels {
    text-align: center; }
  #registration-form input {
    width: 100%;
    line-height: 2em;
    text-align: center;
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #DF563B;
    margin-bottom: .5em;
    font-size: 1.2em; }
    #registration-form input::-webkit-input-placeholder {
      color: #FBBC39;
      text-align: center;
      font-size: 1.2em; }
  #registration-form p {
    font-size: 1.15em; }
    #registration-form p.availability {
      width: 100%;
      color: #DF563B;
      text-align: center; }
  #registration-form .verify {
    padding: 1em 0 1em 0; }
    #registration-form .verify label::before {
      border: 1px solid #FBBC39; }

@media (min-width: 768px) {
  #registration-form p {
    font-size: 1.3em; }
  #registration-form .labels {
    text-align: right;
    margin-top: 10px; }
    #registration-form .labels.left {
      text-align: left; }
    #registration-form .labels label {
      font-size: 1.2em; }
  #registration-form input {
    line-height: 1em;
    text-align: left; }
    #registration-form input::-webkit-input-placeholder {
      font-size: 1.15em;
      text-align: left; }
  #registration-form .team-name input {
    text-align: center; }
    #registration-form .team-name input::-webkit-input-placeholder {
      font-size: 1.5em;
      text-align: center; } }
#team-dashboard {
  margin-left: .3em; }
  #team-dashboard .dash-logo img {
    height: 5em;
    width: auto;
    margin: 5em auto -1em auto; }
  #team-dashboard #case {
    margin-bottom: 2em;
    text-align: center; }
    #team-dashboard #case .button {
      min-width: 8em;
      padding: 1em;
      font-size: 1.15em;
      font-family: "Proxima Nova", sans-serif;
      border-radius: 10px; }
  #team-dashboard #submission {
    text-align: center;
    margin-top: 0; }
    #team-dashboard #submission input {
      border: 2px solid #FBBC39;
      border-radius: 5px;
      padding: 1em;
      background: transparent;
      margin-right: 0;
      margin-left: -8px;
      height: 48px;
      font-family: "Proxima Nova", sans-serif; }
      #team-dashboard #submission input[type="text"] {
        width: 70%;
        margin-right: 0; }
      #team-dashboard #submission input[type="submit"] {
        margin-top: 20px;
        width: 40%;
        color: white;
        border: 2px solid #FBBC39;
        background: #FBBC39;
        border-radius: 10px 10px 10px 10px; }
  #team-dashboard .cp {
    text-align: center; }
  #team-dashboard input[type="file"] button {
    padding: 1em; }
  #team-dashboard p {
    margin: 0; }
    #team-dashboard p.bold {
      font-weight: bold; }

@media (min-width: 768px) {
  #team-dashboard #submission input {
    border: 2px solid #FBBC39;
    border-radius: 10px 0 0 10px;
    padding: 1em;
    background: transparent;
    margin-right: -0.2em; } }
@media (min-width: 525px) {
  #team-dashboard #submission input[type="submit"] {
    margin-top: 0px;
    padding-left: 5px;
    width: 20%;
    border-radius: 0 10px 10px 0; } }
@media (min-width: 768px) {
  #team-dashboard {
    padding: 0 0 3em 0;
    margin-left: 0; }
    #team-dashboard p {
      font-size: 1.25em; } }
.ui.table .button {
  font-size: 1em; }
.ui.table tr th {
  text-align: center; }
.ui.table td.center {
  text-align: center; }
.ui.table td.submission {
  width: 2em; }
@media (max-width: 767px) {
  .ui.table td {
    text-align: center; } }

.flash-success p {
  padding: 1em;
  font-size: 1.25em; }

i.icon {
  margin: 0; }
