@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/didot.ttf");
  src: url("../fonts/didot.ttf") format('truetype');
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/pn-regular.otf");
  src: url("../fonts/pn-regular.otf") format('opentype');
}

$headingFont: 'Didot', Georgia, serif;
$contentFont: 'Proxima Nova', sans-serif;

$pink: #FEF7EC;
$yellow: #FBBC39;
$red: #DF563B;
$blue: #0097b0;

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/didot.ttf");
  src: url("../fonts/didot.ttf") format("truetype");
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/pn-regular.otf");
  src: url("../fonts/pn-regular.otf") format("opentype");
}

body {
  width: 100%;
  background: $pink;
}

h1, h2, h3, h4, h5 {
  font-family: "Didot", Georgia, serif;
}

p, ul, input {
  font-family: "Proxima Nova", sans-serif !important;
}

a {
  transition: .3s all linear;

  &:hover {
    transition: .3s all linear;
  }
}

.bg-red {
  background-color: $red;
}

.bg-blue {
  background-color: $blue;
}

.bg-yellow {
  background-color: $yellow;
}

.text-white {
  color: $pink;
}

.text-red {
  color: $red;
}

.text-blue {
  color: $blue;
}

.text-yellow {
  color: $yellow;
}

.text-spaced {
  letter-spacing: .3em;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.no-gutter {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.absolute {
  position: absolute;
  top: 3em;
  left: 3em;
}

.navbar {
  width: 100%;
}

.navbar-padding {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 768px) {
  .navbar-padding {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

.navbar-text {
  font-family: "Proxima Nova Bold" ,sans-serif;
  font-size: 20px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .navbar-text {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .navbar-text {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .navbar-text {
    font-size: 20px;
  }
}

@media (min-width: 2560px) {
  .navbar-text {
    font-size: 20px;
  }
}

.ui.button {
  background-color: transparent;
  padding: .5em;
  font-size: 1.5em;
  color: $blue;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;

  &:hover, &:focus {
    background-color: transparent;
    color: $red;
    -webkit-transition: color .5s linear;
    transition: color .5s linear;
  }
}

.o {
  padding-top: 2em;
  padding-bottom: 2em;

  img {
    height: auto;
    width: 5em;
  }
}

#home {
  height: 100%;

  .home-left-side {
    background-image: url("../img/scissors-blue.png");
    background-size: 13em;
    background-repeat: no-repeat;
    background-position: left 5%;
  }

  .home-center-side {
    height: 100%;

    .main-logo {
      height: 400px;
      background-image: url("../img/uiuxcomp.png"), url("../img/ornament.png");
      background-size: 90%, 4.5em;
      background-repeat: no-repeat, no-repeat;
      background-position: 60% 75%, 82% 40%;
    }

    h1 {
      text-align: center;
      font-size: 1.25em;
    }

    .buttons {
      width: 70%;
      margin: 8em auto 3em auto;
      text-align: center;
      border-top: 2px solid $yellow;
    }
  }

  .home-right-side {
    background-image: url("../img/pencil-red.png");
    background-size: 13em;
    background-repeat: no-repeat;
    background-position: right 90%;
  }
}

@media (min-width: 768px) {
  #home .home-center-side .main-logo {
    height: 430px;
    background-size: 80%, 4.5em;
    background-position: 50% 80%, 76% 47%;
  }
}

@media (min-width: 1024px) {
  #home .home-center-side .main-logo {
    background-size: 60%, 4.5em;
    background-position: 50% 80%, 68% 47%;
  }
}

@media (min-width: 1440px) {
  #home .home-center-side .main-logo {
    height: 480px;
    background-size: 50%, 6em;
    background-position: 50% 80%, 68% 43%;
  }
}

@media (min-width: 2560px) {
  #home .home-center-side .main-logo {
    height: 800px;
    background-size: 50%, 10em;
    background-position: 50% 80%, 65% 45%;
  }
}

@media (min-width: 1024px) {
  #home .home-center-side .buttons {
    width: 50%;
  }
}

#about {
  min-height: 110%;

  .about-left-side {
    min-height: 100%;
    background-image: url("../img/scissors-half-01.png");
    background-size: 4em;
    background-repeat: no-repeat;
    background-position: right 60%;
  }

  .about-right-side {
    padding: 7em 5em;

    .about-logo {
      padding-top: 5%;
      padding-bottom: 2%;
    }

    p {
      text-align: center;
      font-size: 1.15em;
    }

    .prizes h5 {
      text-align: center;
      margin: 0 0 .3em 0;
    }
  }
}

@media (min-width: 768px) {
  #about {
    .content {
      margin-top: -300px;
    }

    .about-right-side {
      padding: 100px 10em;
    }
  }
}

@media (min-width: 1440px) {
  #about .about-right-side {
    padding: 8% 20em;
  }
}

#registration-form {
  width: auto;
  height: auto;
  border: 10px solid $red;

  img {
    padding: 1.5em 0 0 0;
  }

  .labels {
    text-align: center;
  }

  input {
    width: 100%;
    line-height: 2em;
    text-align: center;
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $red;
    margin-bottom: .5em;
    font-size: 1.2em;

    &::-webkit-input-placeholder {
      color: $yellow;
      text-align: center;
      font-size: 1.2em;
    }
  }

  p {
    font-size: 1.15em;

    &.availability {
      width: 100%;
      color: $red;
      text-align: center;
    }
  }

  .verify {
    padding: 1em 0 1em 0;

    label::before {
      border: 1px solid $yellow;
    }
  }
}

@media (min-width: 768px) {
  #registration-form {
    p {
      font-size: 1.3em;
    }
    .labels {
      text-align: right;
      margin-top: 10px;
      &.left {
        text-align: left;
      }
      label {
        font-size: 1.2em;
      }
    }

    input {
      line-height: 1em;
      text-align: left;

      &::-webkit-input-placeholder {
        font-size: 1.15em;
        text-align: left;
      }
    }

    .team-name input {
      text-align: center;

      &::-webkit-input-placeholder {
        font-size: 1.5em;
        text-align: center;
      }
    }
  }
}

#team-dashboard {
  margin-left: .3em;

  .dash-logo img {
    height: 5em;
    width: auto;
    margin: 5em auto -1em auto;
  }

  #case {
    margin-bottom: 2em;
    text-align: center;

    .button {
      min-width: 8em;
      padding: 1em;
      font-size: 1.15em;
      font-family: "Proxima Nova", sans-serif;
      border-radius: 10px;
    }
  }

  #submission {
    text-align: center;
    margin-top: 0;

    input {
      border: 2px solid $yellow;
      border-radius: 5px;
      padding: 1em;
      background: transparent;
      margin-right: 0;
      margin-left: -8px;
      height: 48px;
      font-family: "Proxima Nova", sans-serif;

      &[type="text"] {
        width: 70%;
        margin-right: 0;
      }

      &[type="submit"] {
        margin-top: 20px;
        width: 40%;
        color: white;
        border: 2px solid $yellow;
        background: $yellow;
        border-radius: 10px 10px 10px 10px;
      }
    }
  }

  .cp {
    text-align: center;
  }

  input[type="file"] button {
    padding: 1em;
  }

  p {
    margin: 0;

    &.bold {
      font-weight: bold;
    }
  }
}

@media (min-width: 768px) {
  #team-dashboard #submission input {
    border: 2px solid $yellow;
    border-radius: 10px 0 0 10px;
    padding: 1em;
    background: transparent;
    margin-right: -0.2em;
  }
}

@media (min-width: 525px) {
  #team-dashboard #submission input[type="submit"] {
    margin-top: 0px;
    padding-left: 5px;
    width: 20%;
    border-radius: 0 10px 10px 0;
  }
}

@media (min-width: 768px) {
  #team-dashboard {
    padding: 0 0 3em 0;
    margin-left: 0;

    p {
      font-size: 1.25em;
    }
  }
}

.ui.table {
  .button {
    font-size: 1em;
  }
  tr th {
    text-align: center;
  }
  td {
    &.center {
      text-align: center;
    }
    &.submission {
      width: 2em;
    }
  }
  @media (max-width: 767px) {
    td {
      text-align: center;
    }
  }
}

.flash-success p {
  padding: 1em;
  font-size: 1.25em;
}

i.icon {
  margin: 0;
}
