{% extends 'layout.html' %}

{% block content %}
<div id="about" class="ui two column grid">
    <div class="ui one wide computer two wide tablet column about-left-side bg-yellow tablet computer only"></div>
    <div class="ui fifteen wide computer fourteen wide tablet sixteen wide mobile column about-right-side">
        <div class="row absolute">
            <div class="fifteen wide column navbar-padding">
            <a class="left text-yellow navbar-text" href="{{ baseUrl }}/">Home</a>
            </div>
        </div>
        <div class="row about-logo">
            <img src="assets/img/about-pencil.png" class="ui medium image centered">
        </div>
        <div class="row stackable column bold">
            <p>UI/UX Challenge adalah sebuah ajang bagi mahasiswa Fakultas Ilmu Komputer UI yang berminat untuk mengasah dan menguji kemampuan mereka dalam merancang User Interface dan User Experience yang baik. Tidak hanya untuk peserta saja, hasil dari challenge ini juga akan dipublikasikan agar memperkenalkan kembali UI/UX kepada khalayak Fasilkom UI.</p>
            <p>Dengan menghadirkan praktisi UI/UX yang ahli di bidangnya, kompetisi ini diharapkan mampu menyalakan semangat para UI/UX designer di Fasilkom UI untuk dapat terus berkarya.</p>
        </div>
        <div class="row o">
            <img src="assets/img/ornament.png" class="ui image centered">
        </div>
        <!-- <div class="row prizes">
            <h5>1st Prize</h5>
            <h5>2nd Prize</h5>
            <h5>3rd Prize</h5>
        </div> -->
    </div>
</div>
{% endblock %}
