{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="navbar navbar-padding">
            <p class="right">
                <span class="text-red navbar-text"><a class="text-red navbar-text" href="{{ baseUrl }}/">Home</a></span>
                <span class="text-red navbar-text">|</span>
                <span class="text-red navbar-text"><a class="text-red navbar-text" href="{{ baseUrl }}/logout">Log Out</a></span>
                <br><br><br>
            </p>
        </div>
    </div>
    <div class="row center">
        <h2>Daftar Peserta</h2>
        <div class="ui grid sixteen wide column centered">
            <div class="thirteen wide column">
                {% if flash.getMessage('success').0 %}
                    <div class="row centered bg-blue flash-success text-white">
                        <p>{{ flash.getMessage('success').0|raw }}</p>
                    </div>
                {% endif %}

                <table class="ui selectable celled striped yellow table">
                    <thead>
                        <tr>
                            <th>Nomor</th>
                            <th>Nama</th>
                            <th>NPM</th>
                            <th>Nomor HP</th>
                            <th>Email</th>
                            <th>ID LINE</th>
                            <th>Nama Tim</th>
                            <th>Status Bayar</th>
                            <th>Submisi</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="center">{{ loop.index }}</td>
                            <td>{{ user.user_name }}</td>
                            <td class="center">{{ user.user_id }}</td>
                            <td class="center">{{ user.phone }}</td>
                            <td>{{ user.email }}</td>
                            <td class="center">{{ user.line }}</td>
                            <td class="center">{{ user.team_name }}</td>
                            <td class="center">
                                {% if user.has_paid == 1 %}
                                    <p>Beres.</p>
                                {% else %}
                                    <p>Belom, cog.</p>
                                {% endif %}
                            </td>
                            <td class="center submission">
                                {% if user.submission %}
                                    <a target="_blank" href="{{ user.submission }}" class="ui button blue delete"><i class="download icon button"></i></a>
                                {% else %}
                                    <p>-</p>
                                {% endif %}
                            </td>
                            <td class="center">
                                {% if user.has_paid == 0 %}
                                    <a href="{{ baseUrl }}/admin/{{ user.team_id }}/paid" class="ui button green paid"><i class="dollar icon button"></i></a>
                                {% endif %}

                                <a href="{{ baseUrl }}/admin/{{ user.user_id }}/edit" class="ui button yellow"><i class="edit icon button"></i></a>
                                <a href="{{ baseUrl }}/admin/{{ user.team_id }}/delete" class="ui button red delete"><i class="remove user icon button"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
