{% extends 'layout.html' %}

{% block content %}
<div class="column wide grid one ui" id=team-dashboard>
    <div class="row">
        <div class="navbar navbar-padding">
            <p class="right">
                <span class="text-red navbar-text">'Allo, {{ nama }}!</span>
                <span class="text-red navbar-text">|</span>
                <span class="text-red navbar-text"><a class="text-red navbar-font" href="{{ baseUrl }}/">Home</a></span>
                <span class="text-red navbar-text">|</span>
                <span class="text-red navbar-text"><a class="text-red navbar-font" href="{{ baseUrl }}/about">About</a></span>
                <span class="text-red navbar-text">|</span>
                <span class="text-red navbar-text"><a class="text-red navbar-font" href="{{ baseUrl }}/logout">Log Out</a></span>
            </p>
        </div>
    </div>
    {% if flash.getMessage('success').0 %}
        <div class="bg-blue row centered flash-success text-white">
            <p>{{ flash.getMessage('success').0|raw }}</p>
        </div>
    {% endif %}
    <div class="row dash-logo"><img class="centered image ui" src=assets/img/dashboard.png alt="">
    </div>
    <div class="column centered row text-blue">
        <h3 class=text-red>Team Details</h3>
        {% for user in users %}
            <div class="center sixteen wide mobile four wide tablet four wide computer column">
                <p class=center>Name:
                    {{ user.name }}
                </p>
                <p class=center>Student No.:
                    {{ user.id }}
                </p>
                <p class=center>Phone No.:
                    {{ user.phone }}
                </p>
                <p class=center>Email:
                    {{ user.email }}
                </p>
                <p class=center>LINE ID:
                    {{ user.line|default('-') }}
                </p>
                <br>
            </div>
        {% endfor %}
    </div>
    <div class="row o"><img class="centered image ui" src=assets/img/ornament.png>
    </div>
    <div class="row centered stackable">
        <div id="case" class="ui grid sixteen wide mobile ten wide tablet ten wide computer column">
            <div id="case" class="ui grid sixteen wide mobile tablet five wide computer column">
                <h3 class="text-red">Link Case Study</h3>
                <a href="{{ caseStudy }}" class="ui button yellow">Download</a>
            </div>
            <div id="submission" class="ui grid sixteen wide mobile tablet eleven wide computer column">
                <h3 class="text-red">Submission Slot</h3>
                <form class="ui form computer only" method="POST">
                    <div class="inline field ui">
                        <input type="text" name="submission" placeholder="Example: https://drive.google.com/file" value="{{ submission }}">
                        <input type="submit" class="ui button yellow" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row ten wide column centered stackable text-red">
        <h3>Contact Person</h3>
        <div class="five wide column cp">
            <p class="bold">Ilham Kurniawan</p>
            <p>+62 812 1317 7791</p>
            <p>LINE ID: ilhamkurni</p>
        </div>
        <div class="five wide column cp">
            <p class="bold">Shylla Estee Pramadhani</p>
            <p>+62 812 1317 7791</p>
            <p>LINE ID: shylla</p>
        </div>
    </div>
</div>
{% endblock %}
