{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="navbar navbar-padding">
            <p class="right">
                <span class="text-red navbar-text"><a href="{{ baseUrl }}/admin" class="text-red navbar-text">Dashboard Admin</a></span>
                <span class="text-red navbar-text">|</span>
                <span class="text-red navbar-text"><a class="text-red navbar-font" href="{{ baseUrl }}/logout">Log Out</a></span>
                <br><br><br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="ui grid sixteen wide column row centered">
            <div class="ui grid ten wide column row">
                <form method="POST" class="ui form" class="edit">
                    Mo ganti apa, cog?<br><br>
                    Team name: <input type="text" name="team_name" value="{{ user.team_name }}"><br>
                    Name: <input type="text" name="name" value="{{ user.user_name }}"><br>
                    Phone no.: <input type="text" name="phone" value="{{ user.phone }}"><br>
                    Email: <input type="text" name="email" value="{{ user.email }}"><br>
                    LINE ID: <input type="text" name="line" value="{{ user.line }}"><br>
                    <br>
                    <input type="submit" value="Save" class="ui button text-spaced bg-blue">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
