{% extends 'layout.html' %}

{% block content %}
    <div id="home" class="ui three wide column grid">
	<div class="four wide column home-left-side tablet computer only"></div>
	<div class="eight wide computer eight wide tablet sixteen wide mobile column no-gutter home-center-side">
		<div class="row middle aligned main-logo"></div>
		<div class="row">
			<div class="row bottom aligned row buttons">
			<a href="{{ baseUrl }}/about"><button class="ui button text-spaced bg-trans"><div class="italic">About</div></button></a>
				{% if npm %}
					{% if user %}
						<a href="{{ baseUrl }}/dashboard"><button class="ui button text-spaced bg-trans"><div class="italic">Dashboard</div></button></a>
					{% else %}
						<a href="{{ baseUrl }}/registration"><button class="ui button text-spaced bg-trans"><div class="italic">Join</div></button></a>
					{% endif %}
					<a href="{{ baseUrl }}/logout"><button class="ui button text-spaced bg-trans"><div class="italic">Logout</div></button></a>
				{% else %}
					<a href="{{ baseUrl }}/login"><button class="ui button text-spaced bg-trans"><div class="italic">Login SSO</div></button></a>
				{% endif %}
		</div>
	</div>
	<div class="four wide column home-right-side mobile-hide tablet computer only"></div>
</div>
{% endblock %}
