{% extends 'layout.html' %}

{% block content %}
<div id="registration-form">
    <div class="row">
        <div class="fifteen wide column navbar-padding">
            <a class="left text-yellow navbar-text" href="{{ baseUrl }}/">home</a>
            <a class="left text-yellow navbar-text" href="{{ baseUrl }}/about">about</a>
        </div>
    </div>

    <div class="ui one colum padded grid">
        <div class="row">
            <div class="centered aligned column header-registration-form">
            <img src="assets/img/registration-form.png" class="ui medium image centered" alt="Registration Form">
            </div>
        </div>
        <div class="row centered aligned sixteen wide mobile tablet ten wide computer column">
            <h3 class="bold text-blue">Field with * is mandatory.</h3>

            {% if errors is defined %}
            <div class="flash-error bg-blue text-white">
                <p class="bold text-yellow">
                    <br>
                    Sorry, there are following errors:
                </p>
                <p>
                    {{ errors|raw }}
                    <br>
                </p>
            </div>
            {% endif %}

            <form action="registration" method="POST" class="ui grid form sixteen wide mobile twelve wide tablet ten wide computer column">
                <div class="field team-name">
                    <input type="text" placeholder="Your team name*" name="team_name" value="{{ data.team_name|default('') }}" required>
                </div>
                <div class="row">
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><p class="bold text-red">1</p></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column left labels"><p class="bold text-red">Team Coordinator</p></div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Name</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" value="{{ nama }}" disabled>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Student No.</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" value="{{ npm }}" disabled>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Phone No.*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" placeholder="Ex: 081234567890" name="phone[]" pattern="^08\d{8,11}$" value="{{ data.phone.0|default('') }}" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Email*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="email" name="email[]" value="{{ data.email.0|default('') }}" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">LINE ID</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" name="line[]" value="{{ data.line.0|default('') }}">
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><p class="bold text-red">2</p></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column left labels"><p class="bold text-red">Team Member</p></div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Name*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" name="name[]" value="{{ data.name.0|default('') }}" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Student No.*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" name="id[]" value="{{ data.id.0|default('') }}" pattern="^\d{10}$" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Phone No.*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" placeholder="Ex: 081234567890" name="phone[]" value="{{ data.phone.1|default('') }}" pattern="^08\d{8,11}$" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Email*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="email" name="email[]" value="{{ data.email.1|default('') }}" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">LINE ID</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" name="line[]" value="{{ data.line.1|default('') }}">
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><p class="bold text-red">3</p></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column left labels"><p class="bold text-red">Team Member</p></div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Name*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" name="name[]" value="{{ data.name.1|default('') }}" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Student No.*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" name="id[]" value="{{ data.id.1|default('') }}" pattern="^\d{10}$" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Phone No.*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" placeholder="Ex: 081234567890" name="phone[]" value="{{ data.phone.2|default('') }}" pattern="^08\d{8,11}$" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">Email*</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="email" name="email[]" value="{{ data.email.2|default('') }}" required>
                    </div>
                    <div class="sixteen wide mobile five wide tablet five wide computer column labels"><label class="text-red">LINE ID</label></div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column field">
                        <input type="text" name="line[]" value="{{ data.line.2|default('') }}">
                    </div>
                </div>

                <div class="row centered field">
                    <button type="submit" class="ui button text-spaced bg-trans register" style="margin-right:0;"><em>SUBMIT</em></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
